name: Deploy to Dev

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add server to known hosts
        run: |
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        env:
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
          SERVER_PATH: /var/www/${{ github.ref_name }}
          SEED_FILES: ${{ secrets.SEED_FILES }}
        run: |
          ssh ${SERVER_USER}@${SERVER_HOST} << EOF
            set -e
            cd ${SERVER_PATH}
            

            # Pull latest code
            git fetch --all
            git reset --hard origin/${{ github.ref_name }}
            git pull origin ${{ github.ref_name }}
            mkdir -p storage/app/public/images
            cp ${SEED_FILES}/public/images/* storage/app/public/images/

            # Build and start Docker containers
            docker compose build
            docker compose down && docker compose up -d
            docker compose exec app composer install
            # Wait for services to be ready
            echo "Waiting for services to start..."
            sleep 10
            
            

            docker compose exec app php artisan key:generate
            # Create storage link (idempotent - safe to run multiple times)
            docker compose exec -T app php artisan storage:link || true

            docker compose exec app php artisan filament:install --panels
            docker compose exec app php artisan make:filament-user \
            --name="${{secrets.FILAMENT_ADMIN_NAME}}" \
            --email="${{secrets.FILAMENT_ADMIN_EMAIL}}" \
            --password="${{secrets.FILAMENT_ADMIN_PASSWORD}}"

            docker compose exec app php artisan filament:assets
            echo "Deployment completed successfully!"
          EOF
      - name: Run Migrations
        env:
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
          SERVER_PATH: /var/www/${{ github.ref_name }}
        run: |
          ssh ${SERVER_USER}@${SERVER_HOST} << EOF
            set -e
            cd ${SERVER_PATH}
            docker compose exec -T app php artisan migrate:fresh --seed --force 2>&1
          EOF